/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #861e26;
    background-image: url("assets/img/icologo-white-patron.png");
    background-repeat: space;
    background-size: 70px;
    height: 98vh;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}
@media only screen and (max-width: 1600px) {
    html{
      zoom:95%
    }
  }