<div class="contenedor-card">
    <p-card class="cartel" [style]="{'height':'100%','margin':'30px','align-items':'center'}">
        <div class="contenedor-body">

            <div class="contenedor-grafico">
                <img class="grafico" src="assets/img/pen-usb.gif">
            </div>

            <h1 class="titulo">INSERTE SU USB</h1>
            <p-progressBar [value]="porcentajeRestante" ></p-progressBar>
            <h2 class="tiempo">TIEMPO RESTANTE: {{tiempoRestante}}s</h2>
        </div>
      

    </p-card>
</div>