.titulo{
    padding: 16px;
    margin-top: 0;
    color: #424242;
    text-align: center;
    font-size: 120px;
    margin-bottom: 0px;
    font-weight: normal;
}

.tiempo{
    padding: 16px;
    margin-top: 0;
    color: #424242;
    text-align: center;
    font-size: 70px;
    margin-bottom: 0px;
    font-weight: normal;
}


.contenedor-card{
    padding:10px;
    height: 90%;
}

.contenedor-body{  
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}

.contenedor-grafico{
    margin: auto;
    text-align: center; 
}

.grafico{
    height:  350px;
}
::ng-deep .p-progressbar {

    .p-progressbar-value{
        background: #861e26;
        color: white;
    }

    .p-progressbar-label{
        color: whitesmoke;
       }

}

@media only screen and (max-width: 1600px) {
    .titulo{
        font-size: 80px;
    }
    .tiempo{
        font-size: 50px;
    }
}